.grey-text {
  color: #5b5a5a !important;
}
.blue-text {
  color: rgb(51 161 208);
}
.footer-col {
  margin: 2rem 0rem 0rem 2rem;
}
.footer-col h1 {
  font-size: larger;
  margin-bottom: 20px;
}
.footer-col h2 {
  font-size: medium;
  color: #5b5a5a;
  margin-bottom: 12px;
}
.footer-col h2:hover {
  color: rgb(51 161 208);
}
.footer-text {
  font-size: x-small;
  line-height: 180%;
  color: #5b5a5a;
}
.footer-social-links {
  display: flex;
  color: #5b5a5a;
}
.footer-social-links i {
  margin-right: 1rem;
}
.card-circle img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  overflow: hidden;
}
.image-container {
  width: 200px; /* Set your desired size */
  height: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto; /* Center the image */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.table .row {
  height: 50px;
}
.free-tag {
  background-color: rgb(102, 166, 6) !important;
  font-size: 13px;
}

/* Overlay for the grey background */
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  z-index: 999;
}

/* Dialog box container */
.dialog-box {
  background-color: rgb(255, 255, 255);
  width: 30%;
  height: 100%;
  margin-top: 5rem;
  padding: 2rem;
}

/* Links inside the dialog box */
.dialog-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dialog-links li {
  margin-bottom: 20px;
}

.dialog-links a {
  text-decoration: none;
  color: #5b5a5a;
  font-size: 15px;
}

.dialog-links a:hover {
  color: #007bff;
}
